<venda_block label=24,mode=value,<venda_tpxt mode=get,name=instore>!=1>
	<ul id="minicart_totals" class="minicartDetailTotals<venda_block label=50,mode=value,<venda_shopcart mode=getqty>!=0> items_added</venda_block label=50><venda_block label=51,mode=value,<venda_cartitemtotal>=0> items_empty</venda_block label=51>">
		<li class="items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><span id="updatemdItems"><venda_cartitemtotal></span> <span class="updatebdItemsText"><venda_block label=19,mode=value,<venda_shopcart mode=getqty>=1><venda_text id=site.basketdetail.item></venda_block label=19><venda_block label=20,mode=value,<venda_shopcart mode=getqty>!=1><venda_text id=site.basketdetail.items></venda_block label=20></span></a></li>
		<li class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_text id=site.minicart_detail.before.total><span id="updatemdTotal" class="price"><venda_total></span></a></li>
		<venda_block label=105,totaldisc&gt;0.00,totaldisc!=null><li class="discount">(<venda_text id=site.minicart_detail.discount>: <venda_currsym><venda_totaldisc>)</li></venda_block label=105>
		
		
	<venda_block label=34,mode=value,<venda_tpxt mode=get,name=instore>!=1>

	   <li><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" class="button buttonAlt"><venda_block label=25,med-basket=notnull><venda_media rec=element,type=pict,key=basket,border=0></venda_block label=25><venda_block label=26,med-basket=null><venda_text id=site.minicart.view_basket.link></venda_block label=26></a></li>
	
	<venda_block label=11,mode=value,<venda_shopcart mode=getqty>!=0>
	
		<venda_block label=46,mode=value,<venda_setting type=ebiz,name=expresscheckout>!=2>
		
			<venda_block label=100,ustype=R>
				<venda_block label=210,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><li><a class="button" href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=confirm&param1=login"></venda_block label=210>
				<venda_block label=211,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><li><a class="button" href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login"></venda_block label=211>
			</venda_block label=100>
			
			<venda_block label=101,ustype!=R>
				<li><a class="button" href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&wizard=shopcart&step=billtologin&param1=login">
			</venda_block label=101>
			
			<venda_block label=27,med-checkout=notnull>
				<venda_media rec=element,type=pict,key=checkout,border=0>
			</venda_block label=27>
			
			<venda_block label=28,med-checkout=null>
				<venda_text id=site.minicart.checkout.link>
			</venda_block label=28>
			
			</a></li>
		</venda_block label=46>
		
		<venda_block label=47,mode=value,<venda_setting type=ebiz,name=expresscheckout>=2>
		
			<venda_tpcomment><!-- if using express checkout only --></venda_tpcomment>
			<venda_block label=129,mode=value,<venda_setting type=ebiz,name=bypasspclookup>!=1>
				<venda_tpcomment><!-- with postcode lookup --></venda_tpcomment>
					<li><a class="button" href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&step=zipcode&param1=login&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>"><venda_block label=29,med-checkout=notnull><venda_media rec=element,type=pict,key=checkout,border=0></venda_block label=29><venda_block label=30,med-checkout=null><venda_text id=site.minicart.checkout.link></venda_block label=30></a></li>
			</venda_block label=129>
			
			<venda_block label=130,mode=value,<venda_setting type=ebiz,name=bypasspclookup>=1>
				<venda_tpcomment><!-- without postcode lookup --></venda_tpcomment>
				<li><a class="button" href="<venda_codehttps>?ex=co_wizr-shopcart&bsref=<venda_bsref>&step=billto&param1=details&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>"><venda_block label=31,med-checkout=notnull><venda_media rec=element,type=pict,key=checkout,border=0></venda_block label=31><venda_block label=32,med-checkout=null><venda_text id=site.minicart.checkout.link></venda_block label=32></a></li>
			</venda_block label=130>
			
		</venda_block label=47>
	
	</venda_block label=11>
	
	<venda_block label=12,mode=value,<venda_shopcart mode=getqty>=0>
	<li><a class="button" href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22"><venda_block label=41,med-checkout=notnull><venda_media rec=element,type=pict,key=checkout,border=0></venda_block label=41><venda_block label=42,med-checkout=null><venda_text id=site.minicart.checkout.link></venda_block label=42></a></li>
	</venda_block label=12>
	
	</venda_block label=34>		
		
		
		
	</ul>
</venda_block label=24>