<venda_detblock_minify_js>
<script type="text/javascript" src="<venda_supportdir>/js/Venda.js"></script>
<script type="text/javascript" src="<venda_supportdir>/js/Venda/Platform.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cookiejar.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Touch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Ebiz.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MinicartDetail.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/VBM.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MegaMenu.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/EqualHeight.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Tracking.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/CreateTab.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RegionLangSwitch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/countrySelect.js"></script>

</venda_detblock_minify_js>
<venda_detail_minify_js>
<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="<venda_supportdir>/js/pngfix.js"></script>
<![endif]-->

<venda_tpcomment>
<!-- Disable by default
< script type="text/javascript" src="<venda_supportdir>/js/Venda/Platform/FormFocusOnLoad.js"></script >
--></venda_tpcomment>

