<alternateimages>
<venda_block label=20,invtivtype!=familyset,invtivtype!=apparel,invtivtype!=shoes,invtivtype!=accessories,invtivtype!=home,invtivtype!=family>
	<altView1>_a</altView1>
	<altView2>_b</altView2>
	<altView3>_c</altView3>
	<altView4>_d</altView4>
	<altView5>_f</altView5>
	<altView6>_g</altView6>
	<altView7>_h</altView7>
	<altView8>_j</altView8>
	<altView9>_m</altView9>
	<altView10>_u</altView10>
	<altView11>_v</altView11>
	<altView12>_e</altView12>
	<altView13>_p</altView13>
	<altView14>_b1</altView14>
	<altView15>_c1</altView15>
</venda_block label=20><venda_block label=21,invtivtype=apparel>
	<altView1>_b</altView1>
	<altView2>_c</altView2>
	<altView3>_d</altView3>
	<altView4>_e</altView4>
	<altView5>_b1</altView5>
	<altView6>_c1</altView6>
</venda_block label=21><venda_block label=22,invtivtype=shoes>
	<altView1>_b</altView1>
	<altView2>_c</altView2>
	<altView3>_g</altView3>
	<altView4>_h</altView4>
	<altView5>_u</altView5>
	<altView6>_e</altView6>
</venda_block label=22><venda_block label=23,invtivtype=accessories>
	<altView1>_a</altView1>
	<altView2>_b</altView2>
	<altView3>_c</altView3>
	<altView4>_m</altView4>
	<altView5>_e</altView5>
</venda_block label=23><venda_block label=24,invtivtype=home,invtivtype=family,invtivtype=familyset,operator=or>
	<altView1>_b</altView1>
	<altView2>_c</altView2>
	<altView3>_d</altView3>
	<altView4>_g</altView4>
	<altView5>_h</altView5>
	<altView6>_m</altView6>
	<altView7>_f</altView7>
	<altView8>_p</altView8>
	<altView9>_e</altView9>
</venda_block label=24>
<venda_inctemplate name=altview_xml_detblock,type=invt/alternateview_xml>
</alternateimages>