<div class="Lmyaccaccountdetails accdetails">
<h2><span></span><venda_text id=site.accountdetails.header></h2>
	<ul>
		<li class="first"><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>"><venda_text id=site.accountdetails.emailpass.link></a></li>
		<li><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>"><venda_text id=site.accountdetails.commoptions.link></a></li>
	</ul>
</div>

<div class="Lmyaccaccountdetails yourprofile">
<h2><span></span><venda_text id=site.accountdetails.profile.header></h2>
	<ul>
		<li class="last"><a href="<venda_codehttps>?ex=tl_user-myform&bsref=<venda_bsref>&layout=myaccount&param1=survey"><venda_text id=site.accountdetails.profile.link></a></li>
	</ul>
</div>