<div class="slider box mainAlt">
	<h2 class="header"><venda_text id=site.widgets.slider.header></h2>
	<a id="slideLeft" class="sliderBt sliderL" style="visibility:hidden;" title="<venda_text id=site.product_detail.recent_items.previous>"><span><venda_text id=site.product_detail.recent_items.previous></span></a>
	<div class="sliderWrapper">
		<ul id="sliderlist" class="sliderList prods prodsGrid prodsFourColumns"><venda_category temp=featprods,ref=homefp,rec=icat></ul>
	</div>
	<a id="slideRight" class="sliderBt sliderR" title="<venda_text id=site.product_detail.recent_items.next>"><span><venda_text id=site.product_detail.recent_items.next></span></a>
</div>
<script type="text/javascript">
jQuery(function(){
	jqSlider({
		sliderID:'sliderlist',
		displayCount: 5, 
		slideAmtNum: 1, 
		slideLeft:'slideLeft', 
		slideRight:'slideRight',
		duration: 0.3});
	if (is_touch_device()) {
		jQuery('.sliderWrapper').css('overflow','auto');
		jQuery('.sliderBt').remove();
	}
		
	if(typeof Venda.Platform.EqualHeight != "undefined"){
		var classtoset = new Array ('#sliderlist li','#sliderlist li .image','#sliderlist li .details','#sliderlist li .details h2','#sliderlist li .details .invtdesc2','#sliderlist li .details .priceContainer','#sliderlist li .details .price','#sliderlist li .details .release','#sliderlist li .details .moreInfo');
		Venda.Platform.EqualHeight.init(classtoset);
	}
});


</script>
