<div id="tellafriendthankyou">
<h1><venda_text id=site.tell_friend.heading></h1>
<p><venda_text id=site.tell_friend.thankyou></p>

<div id="buttons">
<a href="#" onclick="window.history.back(); return false;"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/<venda_sessionlanguage>/bt_previous.gif" alt="<venda_text id=site.button.previous>" border="0" class="left"></a>
<a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/<venda_sessionlanguage>/bt_continue.gif" alt="<venda_text id=site.button.continue>" border="0" class="right"></a>
</div>
</div>

<!-- tpxt used for crumbtrail -->
<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>