<a href="#" id="flag" class="flag"><span class="selectedlang <venda_sessionlanguage>"></span> <venda_currsym> <venda_currencycode> <span class="arrow"></span></a>
  
<div id="flagContent" class="flagContent" style="display:none">

	<div class="region clearfix">
    <ul>
      <li>CURRENCY:</li>
    	<li><a href="#" id="uk" class="uk">&pound;</a></li>
    	<li class="divider-vertical"></li>
    	<li><a href="#" id="europe" class="europe">&euro;</a></li>
    </ul>
	</div>
	
	<div class="lang clearfix">
    <ul>
      <li>LANGUAGE:</li>
      <li><a href="#" id="en" class="en"><venda_text id=site.regionlanguage.switch.en></a></li>
      <li class="divider-vertical"></li>
      <li><a href="#" id="de" class="de"><venda_text id=site.regionlanguage.switch.de></a></li>
    </ul>
	</div>
	
</div>
<!--a href="/page/landingswitcher" class="chRegion" data-track="open-languageswitcher"><venda_text id=site.regionlanguage.switch.header></a-->

<script type="text/javascript">
Venda.Widget.RegionLangSwitch.workflow = "<venda_workflow>";
Venda.Widget.RegionLangSwitch.currRegion = Venda.Ebiz.CookieJar.get("locn") || "<venda_sessionlocation>";
Venda.Widget.RegionLangSwitch.currLang = Venda.Ebiz.CookieJar.get("lang") || "<venda_sessionlanguage>";
Venda.Widget.RegionLangSwitch.ebizURL = "<venda_serveradd>";
</script>