<!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. -->
<div class="checkoutR checkoutRpwrmthankyou">
<venda_category rec=elementcat,ref=pwrmthankyoucolumn>
</div>

<div class="checkoutL">
<div class="container containerpwrmthankyou">
<venda_inctemplate type=includes/wizr/wz_pwrm-thankyou,name=heading_intro>
<venda_inctemplate type=includes/wizr/wz_pwrm-thankyou,name=js_buttons>
</div>
</div>
<!-- 
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: wz_pwrm-thankyou.html
 -->
<venda_tpxt mode=set,name=track,value=pwrm-thankyou> 
<venda_inctemplate name=googleTrackingWorkflows,type=includes>
<venda_inctemplate name=hbxlocalvars1,type=includes/tracking>
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
