<html>
<head>
<title><venda_ebizname> <venda_text id=site.email.refer_questionnaire.title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="726">
<tr>
	<td height="48" align="left" valign="top" style="padding-top:11px; padding-bottom:42px;"><venda_inctemplate name=htmlEmailLogo,type=includes></td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#666;" width="726">
<tr>
<td height="20" valign="middle">
<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.refer_questionnaire.content.title></p>
</td>
</tr>
<tr>
	<td align="left" valign="top" style="padding-top:5px; padding-bottom:5px;"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/email-linebr.jpg" alt="" border="0"></td>
</tr>
<tr>
<td>
<p><venda_text id=site.email.dear> <strong><venda_field1></strong></p>
<p><venda_text id=site.email.refer_questionnaire.message> <venda_field2></p>
<p><span><venda_custf1label></span>: <span><venda_custf1></span></p>
<p><span><venda_custf2label></span>: <span><venda_custf2></span></p>
</td>
</tr>
</table>

</body>
</html>