<venda_detblock_item>
<li class="li_<venda_block label=6,invtatt1=notnull><venda_invtparef></venda_block label=6><venda_block label=7,invtatt1=null><venda_invtref></venda_block label=7>" id="li_<venda_block label=28,invtatt1=notnull><venda_invtparef></venda_block label=28><venda_block label=29,invtatt1=null><venda_invtref></venda_block label=29>">
<venda_block label=45,invtpublish=1>
<venda_block label=119,invtref!=giftcert>
<venda_tpcomment><!-- product --></venda_tpcomment>
	<div class="details">
	<venda_block label=80,invtatrtot&lt;1><h2><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h2></venda_block label=80>
	<venda_block label=81,invtatrtot&gt;0><h2><a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a></h2> <span class="invtatt"><venda_text id=site.basket.product_name.attribute_start><venda_invtatt1><venda_block label=7,invtatt2=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt2></venda_block label=7><venda_block label=8,invtatt3=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt3></venda_block label=8><venda_block label=9,invtatt4=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt4></venda_block label=9><venda_text id=site.basket.product_name.attribute_end></span></venda_block label=81>
	<p class="quantity"><venda_text id=site.quantity>&nbsp;<venda_oiqty></p>
	<p class="price"><venda_currsym><venda_invtsell><venda_block label=10,oiqty&gt;1>&nbsp;<venda_text id=site.minicart_detail.each></venda_block label=10></p>
	</div>

	<div class="image">
	<venda_block label=82,invtatrtot&lt;1><a href="<venda_dispview invt=<venda_invtref>>"><venda_inctemplate name=Scene7thumb,type=includes/Scene7></a></venda_block label=82>
	<venda_block label=83,invtatrtot&gt;0><a href="<venda_dispview invt=<venda_invtparef>>"><venda_block label=10021,mode=value,<venda_protocol>=https><img src="https://images.anthropologie.eu/is/image/Anthropologie/<venda_extflds exfldtype=orderitem,group=5,template=oixtimage_display,type=includes,ref=<venda_invtref>,displayonly=1>?$uk_minicart_thumb$&defaultImage=/Anthropologie/spacer"></venda_block label=10021><venda_block label=10031,mode=value,<venda_protocol>=http><img src="http://images.anthropologie.eu/is/image/Anthropologie/<venda_extflds exfldtype=orderitem,group=5,template=oixtimage_display,type=includes,ref=<venda_invtref>,displayonly=1>?$uk_minicart_thumb$&defaultImage=/Anthropologie/spacer"></venda_block label=10031></a></venda_block label=83>
	</div>
</venda_block label=119>

<venda_block label=229,invtref=giftcert>
	<venda_tpcomment><!-- giftcert --></venda_tpcomment>
	<div class="details">
	<h2><a href="<venda_codehttp>?ex=co_wizr-giftcertificates&bsref=<venda_bsref>"><venda_invtname></a></h2>
	<p class="quantity"><venda_text id=site.quantity>&nbsp;<venda_oiqty></p>
	<p class="price"><venda_currsym><venda_oiextprice></p>
	</div>
	
	<div class="image"><venda_inctemplate name=Scene7thumb,type=includes/Scene7></div>
</venda_block label=229>
</venda_block label=45>
<venda_block label=46,invtpublish!=1>
<venda_tpcomment><!-- unpublished --></venda_tpcomment>
	<div class="details">
	<h2><venda_invtname></h2>
	<p class="unpublished"><venda_text id=site.unpublished></p>
	</div>
	<venda_block label=43,invtref!=giftcert>
	<div class="image"><venda_inctemplate name=Scene7thumb,type=includes/Scene7></div>
	</venda_block label=43>
</venda_block label=46>
</li>
</venda_detblock_item>

<ul id="minicart_products"><venda_detail_item></ul>
