<venda_tpcomment><!-- Tags to pass to JS --></venda_tpcomment>
<div id="tag-fbAppId" class="hide"><venda_setting type=ebiz,name=ebxtfbappid></div>

<div class="grid_12 omega alpha" id="socialButtons">
	<div class="socialButtons">
		<div class="fbLikeButton">
			<div id="fb-root"></div>
			<div class="fb-like" data-href="<venda_dispview invt=<venda_invtref>>" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
		</div>
		<div class="tweetButton"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none"></a></div>
		<div class="googlePlusButton"><div class="g-plusone" data-size="medium"></div></div>
	</div>

</div>