<html>
<head>
<title><venda_ebizname> <venda_text id=site.email.abandcart_notification.title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="726">
<tr>
	<td height="48" align="left" valign="top" style="padding-top:11px; padding-bottom:42px;"><venda_inctemplate name=htmlEmailLogo,type=includes></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#666;" width="726">
<tr>
	<td>
	<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.abandcart_notification.dear> <span style="color:#000;"><venda_text id=site.email.abandcart_notification.customer></span></p>
	<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.abandcart_notification.msg1></p>
	<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.abandcart_notification.msg2></p>
	<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.abandcart_notification.msg3></p>
	<p style="margin:0 0 15px 0; padding:0;"><a href="<venda_dispview page=signin>" style="color:#000;"><venda_text id=site.email.abandcart_notification.msg4></a></p>
	</td>
</tr>
</table>
</body>
</html>
