<venda_block label=199,pageref=home><link rel="canonical" href="<venda_ebizurl>/" /></venda_block label=199>
<venda_block label=1141,rtype=invt>
<link rel="canonical" href="<venda_dispview invt=<venda_invtref>>" />
</venda_block label=1141>
<venda_block label=1142,rtype=icat>
<link rel="canonical" href="<venda_dispview icat=<venda_icatref>>" />
</venda_block label=1142>
<venda_block label=1143,rtype=page,pageref!=home,operator=and>
<link rel="canonical" href="<venda_dispview page=<venda_pageref>>" />
</venda_block label=1143>
<venda_block label=1144,rtype=pcat>
<link rel="canonical" href="<venda_dispview pcat=<venda_pcatref>>" />
</venda_block label=1144>
<venda_block label=1145,stryref=notnull>
<venda_tpcomment>
<!-- stories do not pass an rtype so use stryref instead -->
</venda_tpcomment>
<link rel="canonical" href="<venda_dispview stry=<venda_stryref>>" />
</venda_block label=1145>
<venda_block label=1146,rtype=scat>
<link rel="canonical" href="<venda_dispview scat=<venda_scatref>>" />
</venda_block label=1146>
<venda_block label=1011,rtype!=icat,rtype!=invt,operator=and>
<venda_page page=metainformation>
</venda_block label=1011>
<venda_inctemplate name=webtrendsmeta,type=includes/tracking>


<venda_tpcomment><!-- set tpxt for static page crumbtrail --></venda_tpcomment>
<venda_block label=112,pagename=notnull,pageref!=home,pageref!=myaccount><venda_tpxt mode=set,name=invtname,value=<venda_pagename>></venda_block label=112>
<venda_block label=210,invtref=notnull>
<meta property="og:title" content="<venda_invtname>"/>
<meta property="og:site_name" content="Anthropologie EU"/>
<meta property="og:image" content="http://s7ondemand1.scene7.com/is/image/Anthropologie/<venda_invtsuplsku>_<venda_pdxtdefaultimg>_b?$redesign-prod-crosssell2$&defaultImage=/Anthropologie/spacer"/>
<meta property="og:description" content="<venda_invtdesc1>"/>
<meta property="og:url" content="<venda_dispview invt=<venda_invtref>>" />
</venda_block label=210>
<venda_block label=211,icatref=notnull>
<meta property="og:title" content="<venda_icatname>"/>
<meta property="og:site_name" content="Anthropologie EU"/>
<meta property="og:image" content="<venda_media rec=icat,type=movie-sound-pict,key=thumb,img=no>"/>
<meta property="og:description" content="<venda_icatldesc>"/>
<meta property="og:url" content="<venda_dispview icat=<venda_icatref>>" />
</venda_block label=211>
<meta name="google-site-verification" content="l0YWAWo7KUKv14q9lrvPgK16iT5kzkR4YZA5ayNeWGY"/>
<!--meta name="google-site-verification" content="googlec86c7b38203013de.html" / -->
<meta property="fb:admins" content="100000843672739" />