<style>
.pagecatnav {background: url('/content/ebiz/anthropologie/resources/images/landingpages/myanthro/myanthro_sidenavimage.jpg') no-repeat scroll 0 0 transparent !important; height:508px; width:215px;}
.pagecatnav .hdr {background:none !important; /*url('/content/ebiz/anthropologie/resources/images/landingpages/myanthro/myanthro_sidenavhdr.jpg') no-repeat scroll 0 0 transparent; height:73px; width:212px;*/}
.pagecatnav .hdr span {display:none!important;/*padding: 71px 13px 4px !important;*/}
.pagecatnav ul { padding-top: 22px !important;}
.myanthrologo {float: left; position:relative; text-indent:-9999px; top:7px; left:1px; width:208px; height:63px;}
</style>

<venda_detblock>
	<li class="nav<venda_icatref1>"><a href="<venda_dispview page=<venda_icatref1>>"><span><venda_pcatname1></span></a></li>
</venda_detblock>

<div class="pagecatnav">
<a href="<venda_dispview page=myanthro>" class="myanthrologo" title="My Anthro">My Anthro</a>
<div class="hdr"><span><venda_text id=site.pagecatlist.menu></span></div>
<ul>
<venda_detail>
</ul>
</div>