<div class="footer full-width">
  
  <div class="email-signup full-width">
  Sign me up for some emails
  </div>

  <div class="footer-links container_24 clearfix">
    <div class="grid_24">
      <div class="grid_4 prefix_4 alpha">
        <h3>SHOPPING EXTRAS</h3>
      </div>
      <div class="grid_4">
        <h3>NEED HELP?</h3>   
      </div>
      <div class="grid_4">
        <h3>ABOUT US</h3>   
      </div>
      <div class="grid_4 suffix_4 omega">
        <h3>FIND US</h3>  
      </div>  
    </div>
    
    <div class="grid_24 footer-toggle">
      <div class="grid_4 prefix_4 alpha">
        <ul>
          <li><a href="#"><a href="#">how to measure</a></a></li>
          <li><a href="#">shop the catalogue</a></li>
          <li><a href="#">request a catalogue</a></li>
          <li><a href="#">personal shopping</a></li>
          <li><a href="#">anthro programme</a></li>
          <li><a href="#">gift cards</a></li>
        </ul>
      </div>
      <div class="grid_4">
        <ul>
          <li><a href="#">contact us</a></li>
          <li><a href="#">ordering &amp; payment</a></li>
          <li><a href="#">privacy &amp; security</a></li>
          <li><a href="#">delivery information</a></li>
          <li><a href="#">returns &amp; exchanges</a></li>
          <li><a href="#">terms &amp; conditions</a></li>
        </ul>      
      </div>
      <div class="grid_4">
        <ul>
          <li><a href="#">our story</a></li>
          <li><a href="#">careers</a></li>
          <li><a href="#">anthropologie.com</a></li>
        </ul>      
      </div>
      <div class="grid_4 suffix_4 omega">
        <ul>
          <li><a href="#">store locations</a></li>
          <li><a href="#">facebook</a></li>
          <li><a href="#">twitter</a></li>
          <li><a href="#">pinterest</a></li>
          <li class="phone-num"><a href="#">tel: <span>00800 0026 8476</span></a></li>
        </ul>      
      </div>  
      
      <div class="corp-logos grid_16 prefix_4 suffix_4 alpha omega">
        <venda_inctemplate name=pciLogo,type=widgets>
        <venda_inctemplate name=vendaLogo,type=widgets>
        <p class="footerText">&copy; <venda_dateformat date=now,format=yyyy> <venda_ebizname>. <venda_text id=site.footer.copyright></p>
      </div>
    </div>
  </div>

</div>