<venda_tpcomment><!-- multiple attributes / add to basket icon / no qty--></venda_tpcomment>
<venda_inctemplate name=productgrid,type=invt>

<venda_tpcomment><!-- use this instead if you want single attribute / add to basket button / qty --></venda_tpcomment>
<!--venda_inctemplate name=productgrid_oneattr,type=invt-->

<venda_block label=815,mode=value,<venda_setting type=ebiz,name=tracktaghitbox>=1><!--HBX tracking if business field checked-->
<venda_inctemplate name=hbxlocalvars3,type=includes/tracking>
</venda_block label=815>