<html>
<head>
	<title><venda_text id=site.email.new_register.title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="726">
<tr>
	<td height="48" align="left" valign="top" style="padding-top:11px; padding-bottom:42px;"><venda_inctemplate name=htmlEmailLogo,type=includes></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#666;" width="726">
<tr>
	<td>
		<venda_inctemplate name=htmlEmailHeader2,type=includes>
		<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.new_register.msg1></p>
		<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.new_register.msg2> <a href="<venda_dispview page=signin>" style="color:#000;"><venda_text id=site.email.new_register.msg3></a> <venda_text id=site.email.new_register.msg4></p>
		<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.new_register.msg5> <a href="mailto:subscriptions@anthropologie.eu" style="color:#000;">subscriptions@anthropologie.eu</a> <venda_text id=site.email.new_register.msg6></p>
		<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.new_register.msg7></p>
		</td>
</tr>
</table>
<venda_inctemplate name=htmlEmailFooter,type=includes>
</body>
</html>