<venda_detblock>
<li class="nav<venda_icatref1>">
<venda_block label=134,navtype1=category_browsing,navtype1=dynamic,operator=or><a href="<venda_dispview icat=<venda_icatref1>>"><span><venda_icatname1></span></a></venda_block label=134>
<venda_block label=135,navtype1=guided_nav><a href="<venda_codehttp>?ex=co_wizr-locayta&template=wz_locayta&pageno=1&itemsperpage=5&collate=brand%3Aivtype&fieldinvt=type&termtextinvt=invt&typeinvt=exact&fieldpcatid=pcatid&termtextpcatid=<venda_icatref1>&typepcatid=exact" onclick='document.guidedleft.termtextpcatid.value ="<venda_icatref1>"; document.guidedleft.submit(); return false;'><span><venda_icatname1></span></a></venda_block label=135>
<venda_block label=137,navtype1=no_link><span><venda_icatname1></span></venda_block label=137>
</li></venda_detblock>

<venda_block label=197,icxtnavstyle=notnull,icxtnavastyle=notnull,operator=or>
<style type="text/css">
<venda_block label=95,icxtnavstyle=notnull>
.Lcatnav li.nav<venda_cattree index=3,value=catref> {
	<venda_icxtnavstyle>
}
</venda_block label=95>
<venda_block label=94,icxtnavastyle=notnull>
.Lcatnav li.nav<venda_cattree index=3,value=catref> a {
	<venda_icxtnavastyle>
}
</venda_block label=94>
</style>
</venda_block label=197>

<venda_block label=55,cattot!=>
<ul>
<venda_detail></ul>
</venda_block label=55>