<venda_detblock>
<li<venda_block label=25,itemcount1=1> class="first"</venda_block label=25>>
<venda_block label=26,strydesc11=notnull><a href="<venda_setting type=ebiz,name=url><venda_strydesc11>" <venda_block label=262,strydesc21=notnull>target="<venda_strydesc21>"</venda_block label=262>></venda_block label=26><venda_block label=141,med-image1=notnull><venda_media rec=stry1,type=movie-swf-pict,key=image></venda_block label=141><venda_block label=142,med-image1=null><venda_stryname1></venda_block label=142><venda_block label=27,strydesc11=notnull></a></venda_block label=27>
</li>
</venda_detblock>

<venda_block label=1,rectot&gt;0>
<ul>
<venda_detail>
</ul>
</venda_block label=1>