<!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. -->
<div id="reminderslist">
<venda_inctemplate type=includes/wizr/wz_remd-list,name=heading_intro>
<venda_inctemplate type=includes/wizr/wz_remd-list,name=instructions>
<venda_inctemplate type=includes/wizr/wz_remd-list,name=view_reminders_table>
</div>

<!--
workflow:<venda_workflow>
param1:<venda_param1>
param2:<venda_param2>
page:wz_remd-list.html
-->
<venda_tpxt mode=set,name=track,value=remd-list> 
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
