<html>
<head>
<title><venda_text id=site.email.refered_details.title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="726">
<tr>
	<td height="48" align="left" valign="top" style="padding-top:11px; padding-bottom:42px;"><venda_inctemplate name=htmlEmailLogo,type=includes></td>
</tr>
</table>

<table cellpadding="0" cellspacing="0" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; color:#666;" width="726">
<tr>
<td height="20" valign="middle">
<p style="margin:0 0 15px 0; padding:0;"><venda_text id=site.email.refered_details.title></p>
</td>
</tr>
<tr>
	<td align="left" valign="top" style="padding-top:5px; padding-bottom:5px;"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/email-linebr.jpg" alt="" border="0"></td>
</tr>
<tr>
<td>
<p><venda_text id=site.email.dear> <strong><venda_name></strong></p>
<p><strong><venda_fromname></strong> <venda_text id=site.email.refered_details.msg1></p>
<p><venda_text id=site.email.refered_details.msg2></p>
<p>
<venda_text id=site.email.refered_details.to> <strong><venda_name></strong><br>
<venda_text id=site.email.refered_details.from> <strong><venda_fromname></strong>
</p>
<p>
<venda_text id=site.email.refered_details.amount> <strong><venda_currsym><venda_coamt></strong><br>
<venda_text id=site.email.refered_details.claim_code> <strong><venda_copromo></strong><br>
<venda_text id=site.email.refered_details.expiry_date> <strong><venda_codurexp></strong>
</p>
</td>
</tr>
</table>

<venda_inctemplate name=htmlEmailTandC,type=includes>
<venda_inctemplate name=htmlEmailFooter,type=includes>
</body>
</html>