<div id="productPreview" class="hide">
<div class="productPreviewImage loadingImg"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/spacer.gif"></div>
<div class="productPreviewDetail"><div><venda_text id=site.product_detail.attribute.extrafields.attr_nowassale_text> <span class="productPrice"></span></div><div class="productDesc"></div></div>
<div class="productPreviewArrow"></div></div>
<script type="text/javascript">
jQuery(document).ready(function() {
Venda.Widget.ViewStyle.setCookieForViewStyle();
Venda.Widget.ViewStyle.showProductPreview();
});
</script>