<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="<venda_block label=10,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=10><venda_block label=11,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=11>" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="<venda_block label=20,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=20><venda_block label=21,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=21>" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="<venda_block label=30,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=30><venda_block label=31,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=31>" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<venda_block label=40,mode=value,<venda_sessionlanguage>=ae>en-US</venda_block label=40><venda_block label=41,mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block label=41>" class="no-js"> <!--<![endif]-->
<head>
<venda_inctemplate name=title,type=mainIncludes>
<venda_inctemplate name=metatags,type=mainIncludes>
<venda_inctemplate name=js,type=mainIncludes>
<venda_inctemplate name=css,type=mainIncludes>
<venda_inctemplate name=head,type=tracking/shared>
</head>
<body id="<venda_rtype>_<venda_ref>">
<venda_inctemplate name=bodyTop,type=tracking/shared>
<venda_inctemplate name=admin,type=mainIncludes>
<venda_inctemplate name=nojavascript,type=mainIncludes>
<venda_inctemplate name=demo,type=mainIncludes>
<div class="wrapper">
	<a href="#content" class="skipToContent"><venda_text id=site.skip_to_content></a>
	<div class="mainHeader container_24">
		<venda_inctemplate name=header,type=mainIncludes><venda_inctemplate name=topNavigation,type=mainIncludes>
	</div><!-- end mainHeader -->
	<div class="container_24 clearfix">
		<div class="content grid_24"><a name="content" id="content"></a><venda_content></div>
	</div><!-- end content container -->
	<div class="mainFooter container_24 clearfix">
		<venda_inctemplate name=footer,type=mainIncludes>
	</div><!-- end footer -->
</div><!-- end wrapper -->
<venda_inctemplate name=bodyBottom,type=tracking/shared>
</body>
</html>
