<venda_detblock_item>

<li class="li_<venda_invtref>" id="li_<venda_invtref>">

<div class="minicartDetailHighlight" id="minicartDetailHighlight_<venda_invtref>"></div>

<div class="minicartDetailContent">

<venda_block label=45,invtpublish=1>
<venda_tpcomment><!-- published --></venda_tpcomment>
	<div class="image">
				<venda_tpcomment><!-- everything is an attribute and all images, sizes and availability handled by scene7--></venda_tpcomment>
				<a href="<venda_dispview invt=<venda_invtparef>>"><img src="http://images.anthropologie.eu/is/image/Anthropologie/<venda_extflds exfldtype=orderitem,group=5,template=oixtimage_display,type=includes,ref=<venda_invtref>,displayonly=1>?$uk_category_thumb$&defaultImage=/Anthropologie/<venda_invtsuplsku>_<venda_pdxtdefaultimg>_b" alt="<venda_invtname>" name="img<venda_invtref>"></a>
	</div>
	<div class="details">
		<venda_block label=80,invtatrtot&lt;1><span class="item"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></span></venda_block label=80>
		<venda_block label=81,invtatrtot&gt;0><span class="item"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a></span></venda_block label=81>
		<span class="quantity"><venda_text id=site.quantity>&nbsp;<venda_oiqty></span>
		<span class="price"><venda_currsym><venda_invtsell><venda_block label=10,oiqty&gt;1>&nbsp;<venda_text id=site.minicart_detail.each></venda_block label=10></span>
	</div>
</venda_block label=45>

<venda_block label=46,invtpublish!=1>
<venda_tpcomment><!-- unpublished --></venda_tpcomment>
	<div class="image">
		<img src="http://images.anthropologie.eu/is/image/Anthropologie/<venda_extflds exfldtype=orderitem,group=5,template=oixtimage_display,type=includes,ref=<venda_invtref>,displayonly=1>?$uk_category_thumb$&defaultImage=/Anthropologie/<venda_invtsuplsku>_<venda_pdxtdefaultimg>_b" alt="<venda_invtname>" name="img<venda_invtref>">
	</div>
	<div class="details">
		<span class="item"><venda_invtname></span>
		<p class="unpublished"><venda_text id=site.unpublished></p>
	</div>
</venda_block label=46>
</li>
</venda_detblock_item>

<ul id="minicart_products" class="prods prodsList prodsMinicartCheckout"><venda_detail_item></ul>