<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="<venda_block mode=value,<venda_sessionlanguage>=ae>en-US</venda_block><venda_block mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block>">
<head>
<title><venda_text id=site.title.coming_soon></title>
<venda_menu template=css>
<venda_inctemplate name=hitboxOthers,type=includes/tracking> 
</head>
<body id="mainlayout-comingsoon">
<venda_inctemplate name=coremetricsFunctions,type=includes/tracking/coremetrics>
<p class="re-waiHide"><a href="#content"><venda_text id=site.skip_to_content></a></p>

<!-- start wrapper -->
<div id="checkoutwrapper">

<!-- start content-comingsoon -->
<div id="content-comingsoon">
<!-- start content -->
<div id="checkout">
<a name="content" id="content"></a>
<venda_content>
</div>
<!-- end content -->
</div>
<!-- end content-comingsoon -->

</div>
<!-- end wrapper -->
<venda_inctemplate name=SiteWideTracking,type=includes>
</body>
</html>
