<venda_detblock>
<venda_inventory ref=<venda_invtref>,temp=substitutes>
</venda_detblock>

<div id="substitute">
<div class="featprods">
<div class="featprods-header">
  <h2><i class="arrow-start"></i><span><venda_text id=site.substitutes.heading></span><i class="arrow-end"></i></h2>
</div>
<ul>
  <li>
  	<div class="image current-prod">
      <img src="<venda_protocol>://images.anthropologie.eu/is/image/Anthropologie/<venda_invtsuplsku>_<venda_pdxtdefaultimg>_b?$uk_pdt_complete$&defaultImage=/Anthropologie/spacerapp" alt="<venda_invtname>" border="0">
  	</div>
  </li>
<venda_detail>
  <li class="promotion-ctl">
  </li>
</ul>
</div>
</div>