<script type="text/javascript">
function checkFormGN() {
var searchForm = document.formsolrsearch;
var hasValue=0;
 
for(i=0;i<(searchForm.elements.length);i++){
	if((searchForm.elements[i].type == "select-one") && (searchForm.elements[i].options[searchForm.elements[i].selectedIndex].value!="")){
		hasValue=1;
	}else if((searchForm.elements[i].type == "text") && (searchForm.elements[i].value!="")){
		hasValue=1;
	}
}
 
if(hasValue!=1){
	alert("<venda_text id=site.locaytasearch.validation.alert>");
	searchForm.q.focus();
	} else { searchForm.submit(); }
}
 
</script>
<div class="headerSearch"> 
<h5 class="hide">Search</h5> 
<form onsubmit="checkFormGN(); return(false);" id="formsolrsearch" name="formsolrsearch" action="/search">
	<label for="q"><venda_text id=site.locaytasearch.searchheader></label> 
	<input type="text" class="textInput" value="" size="20" id="q" name="q"> <input type="submit" class="submit button" value="<venda_text id=site.guidednav_search_box.button.alt>" id="searchsubmit" name="searchsubmit"> 
</form>
</div>
