<li class="sub-additions">
  <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/anthro-acc-add.png" alt="Addition symbol" />
</li>
<li<venda_block label=25,itemcount1=1> class="first"</venda_block label=25>>
	<div class="image">
	<a href="<venda_dispview invt=<venda_invtref>>?htxt=<venda_htxt mode=make,substitues=<venda_invtref>>"><venda_inctemplate name=Scene7completelook,type=includes/Scene7></a>
	</div>
</li>

<div class="struq_SL_DF_container" title="rel" style="display:none">
  <div class="struq_SL_DF" title="pid"><venda_invtref></div>
</div>