/* GRID-LIST VIEW SWITCHER */
#listview {display:inline;}
#gridview {display:none;}

/******************************/
/* SEARCH RESULTS - GRID VIEW */
/******************************/
#searchresults .prods ul li {/*IE 5.5 box model hack*/
width: 110px; border-width: 1px; border-style: solid;height:245px;float:left;
padding: 6px 6px 6px 6px; margin-top: 8px; margin-right: 8px; overflow: hidden; voice-family: "\"}\""; voice-family: inherit;}
html > body #searchresults .prods ul {overflow:hidden;}
html > body #searchresults .prods ul li { /* IE7 - Moz */
width: 110px; /*End box model hack*/min-height:245px;height:auto;}
#searchresults .prods ul .image {text-align:center;height:115px;}
#searchresults .prods ul .details {width: 110px;margin-top:5px;}
#searchresults .prods ul .details h2 {font-size:1.1em;}
#searchresults .prods ul .details input, #searchresults .prods ul .details label, #searchresults .prods ul .details fieldset {display:none;}
#searchresults .prods ul .details p.invtdesc2 {display:none;}

/*****************************/
/* PRODUCT LISTS - GRID VIEW */
/*****************************/
* html #productlist ul.products li {/* for IE/Win - lines up divs, only IE because seeing this causes overlaps when fonts scaled in non IE */
	height:245px;width:100px !important;}
#productlist ul.products li {min-height: 155px; width: 100px; float: left; border-width: 1px; border-style: solid; padding: 10px 10px 6px 10px; margin: 8px 8px 0 0;}

html > body #productlist ul.products {overflow:hidden;}
html > body #productlist ul.products li { /* IE7 - Moz */
	height: 245px; min-height: 245px; width: 100px; /*End box model hack*/}
ul.products p.release {display:none;}
ul.products .image {text-align:center;float:none;}
ul.products .details {float: right; width: 80px;}
ul.products .details div.productreviews {display:none;}
ul.products .details input,ul.products .details label,ul.products .details fieldset{display:none;}