@font-face {
    font-family: 'KTT';
    src: url('/content/ebiz/anthropologie/resources/fonts/KTT-webfont.eot');
    src: url('/content/ebiz/anthropologie/resources/fonts/KTT-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/ebiz/anthropologie/resources/fonts/KTT-webfont.woff') format('woff'),
         url('/content/ebiz/anthropologie/resources/fonts/KTT-webfont.ttf') format('truetype'),
         url('/content/ebiz/anthropologie/resources/fonts/KTT.svg#KingthingsTrypewriter2Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.Lcattree {
	display: none;
}
.pressWrapper h1 {
	color: #67686A;
	background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-header.jpg) no-repeat;
	line-height: 100px;
	text-align: center;
	font-size: 2.2em;
	font-weight: normal;
	margin: 8px 0;
}
.ui-widget-content {
	background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-popup-bg.gif) no-repeat !important;
	}
.pressWrapper h2 {
  color: #67686A;
  font-size: 1.4em;
  font-weight: normal;
  margin: -41px 0 0 35px;
} 
.pressWrapper .hideme { 
	display: none;
}
.pagePos {
  font-size: 1.4em;
  margin-top: 400px;
  text-align: center;
}
.pressPopUp {
	background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-popup-bg.gif) no-repeat;
	width: 490px;
	height: 630px !important;
}
.pressPopUp img {
	position: absolute;
  left: 58px;
  top: 50px;
}
.pressPopUp p {
	margin: 0;
	position: absolute;
	left: 60px;
	top: 565px;
	font-size: 1.4em;
}
.ui-widget-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.ui-dialog-title {
	display: none;
}
.ui-icon {
	width: 12px;
	height: 12px;
	background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-close.gif) no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: 16px;
	right: 16px;
}
.pressWrapper, .pressPopUp { font: 1em "KTT", "Courier New", Courier, sans-serif; font-size: 100%; width: 920px; color: #67686A;}
input, textarea { font-family: Arial; font-size: 125%; padding: 7px; }
label { display: block; } 

.pressWrapper {
	margin: -25px 0 0 50px;
}

.pressLoop {
  width: 924px;
  position: relative;
}

.pressLoop .wrapper {
  width: 924px; /* .pressLoop width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: hidden;
  min-height: 380px;
  margin: 0;
  position: absolute;
  top: 0;
}

.pressLoop .wrapper ul {
  width: 9999px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.pressLoop ul li {
  display:block;
  float:left;
  height: 380px;
  width: 308px;
}

.pressLoop ul li a {
	display: block;
	background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-thumb-bg.jpg) no-repeat;
  height: 380px;
  width: 300px;
}

.pressLoop ul li a img {
  display: block;
	margin: 35px 0 0 35px;
  position: absolute;
	border: 0;
}

.pressLoop .arrow {
  display: block;
  height: 16px;
  width: 65px;
  background: url(/content/ebiz/anthropologie/resources/images/landingpages/press/press-arrows.gif) no-repeat 0 0;
  text-indent: -9999px;
  position: absolute;
  top: 390px;
  cursor: pointer;
}

.pressLoop .forward {
  background-position: 0 0;
  right: 25px;
}

.pressLoop .back {
  background-position: 0 -14px;
  left: 5px;
}
.ui-dialog .ui-dialog-titlebar {
  display: block !important;
}
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:4px solid #ccc;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}