<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="<venda_block mode=value,<venda_sessionlanguage>=ae>en-US</venda_block><venda_block mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block>">
<head>
<venda_menu template=title>
<venda_menu template=metatags>
<venda_menu template=css>
<venda_menu template=js>
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
</head>
<body id="mainlayout-default-nocoltwothree">
<venda_inctemplate name=coremetricsFunctions,type=includes/tracking/coremetrics>
<venda_menu template=admin>
<venda_menu template=demo>
<venda_menu template=nojavascript>

<p class="re-waiHide"><a href="#content"><venda_text id=site.skip_to_content></a></p>

<!-- start wrapper -->
<div id="wrapper">

<!-- start header -->
<div id="header"<venda_block label=900,rtype=page> class="staticpageHeader"</venda_block label=900>>
<venda_category rec=elementcat,ref=header>
</div>
<!-- end header -->

<!-- start content-default_nocoltwothree -->
<div id="content-default_nocoltwothree">

<!-- start content -->
<a name="content" id="content"></a>
<venda_content>
<!-- end content -->

</div>
<!-- end content-default_nocoltwothree -->

<div id="footer"><venda_category rec=elementcat,ref=footer></div>

</div>
<!-- end wrapper -->

<venda_inctemplate name=SiteWideTracking,type=includes>
<venda_block label=125,pageref=home>
<!-- Begin: 4q.iperceptions.com -->
<script src="http://4qinvite.4q.iperceptions.com/1.aspx?sdfc=053af555-33818-e0c378e6-8cac-4599-8839-234400d3fd10&lID=1&loc=4Q-WEB2" type="text/javascript" defer="defer" ></script>
<!-- End: 4q.iperceptions.com -->
</venda_block label=125>
</body>
</html>