<!-- Checkout tracking tags go here -->
<venda_inctemplate name=ebizCheckoutWideTracking,type=includes>
<venda_inctemplate name=googleAnalytics,type=includes>
<venda_inctemplate name=googleAnalyticsGAJS,type=includes/tracking>
<venda_inctemplate name=webtrends,type=includes/tracking>
<venda_block label=5999,mode=value,<venda_tpxt mode=get,name=co_comn-login>!=1>
<venda_inctemplate name=coremetricsMain,type=includes/tracking/coremetrics>
</venda_block label=5999>
<venda_inctemplate name=siteCatalystMain,type=includes/tracking/siteCatalyst>
<venda_inctemplate name=yahoosmsitewide,type=includes/tracking>
