<venda_detblock_attribute>
<atrsku_<venda_atrsku>>
<attribute<venda_att1>><venda_atr1></attribute<venda_att1>>
<attribute<venda_att2>><venda_atr2></attribute<venda_att2>>
<attribute<venda_att3>><venda_atr3></attribute<venda_att3>>
<attribute<venda_att4>><venda_atr4></attribute<venda_att4>>
<atrributemsrpprice><venda_atrmsrp></atrributemsrpprice>
<atrributesellingprice><venda_atrsell></atrributesellingprice>
<atrributewasprice><venda_atrwas></atrributewasprice>
<atrributeonhand><venda_atronhand></atrributeonhand>
<attributeatreta><venda_block label=1,atretady=notnull,atretamn=notnull,atretayr=notnull,operator=and><venda_dateformat type=digit,format=dd/mm/yyyy,suffix=0,date=<venda_atretady>-<venda_atretamn>-<venda_atretayr>></venda_block label=1></attributeatreta>
<addorbuyparams>
<att1><venda_atr1></att1>
<att2><venda_atr2></att2>
<att3><venda_atr3></att3>
<att4><venda_atr4></att4>
</addorbuyparams>
</atrsku_<venda_atrsku>>
</venda_detblock_attribute>
<venda_detail_attribute>
