<div class="header full-width">

  <div class="mainHeader container_24">
  
    <div class="grid_6 prefix_9 suffix_9">
      <venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"><venda_block label=112,pageref!=home></a></venda_block label=112>
    </div>
    
    <div class="grid_24">
      <venda_category rec=icat,ref=shop,temp=dynamicTopNavigation,itemsperpage=100>
    </div>
    
    <div class="grid_24">
      <venda_block label=980,workflow!=shopcart>
      <venda_block label=113,pageref!=home><p class="crumbtrail">
      <a href="<venda_ebizurl>" class="crumbtrailHome">Home</a>
      <venda_cattree class=crumbtrailAnchor,sep=&nbsp;/&nbsp;,append=<venda_tpxt mode=get,name=invtname>>
      </p></venda_block label=113>
      </venda_block label=980>
      
      <div id="tags_cattree" style="display: none;">
      <venda_cattree index=1, value=catref>,
      <venda_cattree index=2, value=catref>,
      <venda_cattree index=3, value=catref>
      </div>
    </div>  
  
  </div>

</div>