<div class="header full-width">

  <div class="mainHeader container_24">
  
    <div class="grid_6 prefix_9 suffix_9">
      <venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"><venda_block label=112,pageref!=home></a></venda_block label=112>
    </div>
    
    <div class="grid_24">
      Mega Menu here  
    </div>
  
  </div>

</div>