<!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. -->
<div id="referfriendthankyou">
<venda_inctemplate type=includes/wizr/wz_refr-thankyou,name=heading_intro>
<venda_inctemplate type=includes/wizr/wz_refr-thankyou,name=voucher_info>
<venda_inctemplate type=includes/wizr/wz_refr-thankyou,name=js_buttons>
</div>
<!-- 
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow>
page: wz_refr-thankyou.html
 -->
<venda_tpxt mode=set,name=track,value=refr-thankyou> 
<venda_inctemplate name=cmCreateRegistrationTag,type=includes/tracking/coremetrics>
<venda_inctemplate name=cm-wz_refr-thankyou,type=includes/tracking/coremetrics> 