<div id="content-search-body">
    <a id="content-top"></a>
    
    <div class="leftSidebar grid_24">	
        <venda_inctemplate name=recentSearch,type=widgets>		
        <div class="refinelist">
            <venda_inctemplate name=refineList,type=search>
        </div>
    </div>	
    
    <div id="searchResults" class="grid_24">
        <a name="content" id="content"></a>
        <venda_block label=222,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>
            <div class="searchVBM vbmsearchlist"><venda_inctemplate type=vbm,name=searchResults></div><script type="text/javascript">var searchVBMstr = jQuery('#paramq').text();var tabview = "";</script>
        </venda_block label=222>

        <div class="box searchAlt searchContent">

            <venda_block label=isKeyword,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
                <div id="response">
                    <venda_block label=1,errors=notnull>
                        <h2 class="error"><venda_errors></h2>
                    </venda_block label=1>
                </div>
                <venda_block label=345,totalresults!=0>
                    <div id="addedmsg">
                        <venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><p id="atbmsg"><venda_addedmsg msg=<venda_text id=site.addedmsg>></p></venda_block label=32>
                    </div>
                    <div class="box boxSearchAlt">
                        <div class="boxContent">
                            <div class="resultDetail">
                                <div class="resultMsg">
                                    <h4>
                                        <venda_block label=suggest,suggestion=notnull><venda_text id=site.search_results.searchinstead> "<a href="/search?q=<venda_suggestion>"><venda_suggestion></a>"? </venda_block label=suggest>
                                          <venda_block label=ss,suggestedsearch=notnull><venda_text id=site.search_results.no> <venda_text id=site.search_results.result><venda_text id=site.search_results.results> <venda_text id=site.search_results.closest_match> <span class="correctedquery">"<span class="correctedquerytext"><venda_suggestion></span>"</span> <venda_text id=site.search_results.which></venda_block label=ss> <span class="totalresults"><venda_totalresults></span> item<venda_block label=99,totalresults!=1>s</venda_block label=99> found
                                    </h4>
                                </div>
            </venda_block label=isKeyword>

            <venda_block label=isCategory,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
                <div id="response">
                    <venda_block label=1,errors=notnull><h2 class="error"><venda_errors></h2></venda_block label=1>
                </div>

                <venda_block label=345,totalresults!=0>
                    <div id="addedmsg">
                        <venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><p id="atbmsg"><venda_addedmsg msg=<venda_text id=site.addedmsg>></p></venda_block label=32>
                    </div>
                    <div class="box boxSearchAlt">
                        <div class="boxContent">
                            <div class="resultDetail">
                                <div class="resultMsg">
                                    <h4>
                                        <venda_tpcomment><!-- searched by category : We've found N results in Music. --></venda_tpcomment>
                                        <venda_text id=site.search_results.your_search.textfirst> <venda_category rec=icat,ref=<venda_block label=430,mode=value,pcatid=pcatid><venda_parentCategoryRef></venda_block label=430><venda_block label=431,mode=value,pcatid=category><venda_parentCategoryRef></venda_block label=431>,temp=categoryname,cacheall=1><venda_text id=site.search_results.your_search.textafter>
                                    </h4>
                                </div>
            </venda_block label=isCategory>

                                <div class="pagn pagnTop">
                                    <venda_pagination template=pagination>
                                </div>
                                <div class="sort">
                                    <venda_detblock_sortedby>
                                        <option value="<venda_url>"<venda_block sortedon=notnull> selected="selected"</venda_block>><venda_option></option>
                                    </venda_detblock_sortedby>
                                    <form>
                                        <label for="sortby"><venda_text id=site.search_results.label.sort_by></label>
                                        <select name="sortby" id="sortby">
                                            <venda_block label=12,mode=value,<venda_setting type=ebiz,name=sortrelevantfirst>=1>
                                                <option value="<venda_searchurl sort=,setpagenum=1>"><venda_text id=site.search_results.option.most_relevant></option>
                                            </venda_block label=12>
                                            <venda_detail_sortedby options=price~desc:asc;name~asc:desc;release~desc:asc>
                                        </select>
                                    </form>
                                </div>
                            </div> <venda_tpcomment><!-- end: .resultDetail div --></venda_tpcomment>
                            <venda_detblock_results>
                                <li>
                                    <form name="form<venda_ref>" action="<venda_codehttp>" method="get" id="addproduct<venda_ref>form">
                                        <venda_inventory ref=<venda_ref>,temp=searchInvt,displayunpublished=1>
                                    </form>
                                </li>
                            </venda_detblock_results>

                            <venda_block label=VBMhtxt,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>
                                <script type="text/javascript">
                                    var vbmsrch="<venda_block primarysearchtext=notnull><venda_htxt mode=make,vbmsrch=<venda_primarysearchtext>></venda_block>";
                                </script>
                            </venda_block label=VBMhtxt>

                        </div>
                    </div>
                    <ul class="prods prodsFourColumns prodsGrid">
                        <venda_detail_results>
                    </ul>
                    <div id="loadingsearch" class="hide">
                        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/Search/loadingsearch.gif" alt="<venda_text id=site.search_results.loading>">
                    </div>
                    <div class="pagn pagnBtm">
                        <venda_pagination template=pagination>
                    </div>
                </venda_block label=345>

            <venda_block label=346,totalresults=0>
                <h4>
                    <venda_text id=site.search_results.your_search> <venda_block label=95,primarysearchtext=notnull><venda_text id=site.search_results.for> <span class="primarysearchtext">"<span class="keywordsearchtext"><venda_primarysearchtext></span>"</span> </venda_block label=95><venda_text id=site.search_results.returned> <venda_text id=site.search_results.no> <venda_text id=site.search_results.result><venda_text id=site.search_results.results>
                </h4>
            </venda_block label=346>

        </div>	
    </div>

    <venda_block label=3,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>
        <venda_tpcomment><!-- VBM --></venda_tpcomment>
        <script type="text/javascript" src="http://service.avail.net/2009-02-13/dynamic/<venda_block label=22,mode=value,<venda_islive>=1><venda_setting type=ebiz,name=tracktagvbmid></venda_block label=22><venda_block label=23,mode=value,<venda_islive>!=1><venda_setting type=ebiz,name=tracktagvbmtestid></venda_block label=23>/emark.js"></script>

        <script type="text/javascript">
            jQuery('.add,.buy,.preorder').click(function() {
                var invtref = this.id;
                invtref = invtref.replace("addproduct", "");
                invtref = invtref.replace("buy-", "");
                invtref = invtref.replace("preorder-", "");
                Venda.Widget.VBM.SetCookie(jQuery('#paramq').text(), invtref);
            });

            var vbmLinks = (jQuery("a.moredetail"));
            for (var i=0; i<vbmLinks.length; i++) {
                if(vbmsrch!==""){
                    vbmLinks[i].href = (vbmLinks[i].href+'?htxt='+vbmsrch);
                }
            };
        </script>
    </venda_block label=3>

    <venda_tpcomment><!-- Hidden divs for Search JS --></venda_tpcomment>
    <div style="display:none;" id="tag-error">
        <venda_text id=site.search_results.ajaxerror>
    </div>

    <div style="display:none;" id="multirefine-tmpl">
        <label>
            <input type="checkbox" value="" class="updatesearch">
            <span class="facet"></span>
        </label>
    </div>
</div>

<script>
    jQuery(Venda.Search.start);
    jQuery('#content-search').bind('search-loading-end', function(evt) {

        <venda_block label=CompareProductsInt,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
            // Compare - Product compare
            Venda.Widget.Compare.loadCompareItems();
        </venda_block label=CompareProductsInt>

        <venda_block label=powerreviewsSnippet,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewslocayta>=1>
        jQuery.ajax({
                type: "GET",
                url: "<venda_serveradd>/partners/pwr/engine/js/full.js",
                dataType: "script",
                cache: true
        }).done(function( html ) {
                var     pr = jQuery('.reviewstar'),
                        pr_array = jQuery.makeArray(pr);

        jQuery.each(pr_array,function() {

                var     $this = jQuery(this),
                        pr_page_id1 = $this.children('.pr_page_id').val(),
                        pr_write_review1 = $this.children('.pr_write_review').val(),
                        pr_read_review1 = $this.children('.pr_read_review').val();

                POWERREVIEWS.display.snippet(
                { write : function(content) { jQuery('div#prs-'+pr_page_id1).append(content); } }, {
                        pr_site_id : 1,
                        pr_zip_location : '<venda_serveradd>/partners/',
                        pr_style_sheet : '<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/powerreviews.css',
                        pr_page_id : pr_page_id1,
                        pr_write_review : pr_write_review1,
                        pr_read_review : pr_read_review1,
                        pr_snippet_min_reviews : 0
                });
        });
        });
        </venda_block label=powerreviewsSnippet>
    });

    <venda_block label=CompareProductsEvents,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
        // Compare - Product compare
        jQuery("#compareAll").live("click", function() 		{ Venda.Widget.Compare.toCompare(); });
        jQuery("#compareClearAll").live("click", function() { Venda.Widget.Compare.deleteAll(); });
    </venda_block label=CompareProductsEvents>
</script>
