<script type="text/javascript">
  defImgSlots = ["_b", "_c", "_d", "_e", "_f"],
  defImgAtt = "<venda_pdxtdefaultimg>",
  defImgSku = jQuery('#tag-invtsuplsku').text()
	Venda.Attributes.StoreImageSwaps({ 
		"param": "",
		"images": {
			imgS: [
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[0] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[1] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[2] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[3] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[4] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[5] + "?$uk_pdt_thumb$&defaultImage=/Anthropologie/spacer",
			],
			imgM: [
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[0] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[1] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[2] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[3] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[4] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[5] + "?$uk_pdt_medium$&defaultImage=/Anthropologie/spacer",
			],
			imgL: [
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[0] + "?$uk-zoom-5x$",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[1] + "?$uk-zoom-5x$",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[2] + "?$uk-zoom-5x$",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[3] + "?$uk-zoom-5x$",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[4] + "?$uk-zoom-5x$",
			"http://images.anthropologie.eu/is/image/Anthropologie/" + defImgSku + "_" + defImgAtt + defImgSlots[5] + "?$uk-zoom-5x$",
			]
		}
	});
	
</script>