<venda_detblock_term>
<venda_block label=815,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<venda_block label=180,type=keyword><script type="text/javascript">searchQuery="<venda_termtextname>";</script></venda_block label=180>
<venda_block label=183,type!=keyword>
<venda_block label=181,field=pcatid><venda_block label=182,termtext=notnull><script type="text/javascript">searchQuery="<venda_termtext>";</script><venda_tpxt mode=set,name=active<venda_field>,value=<venda_termtext>></venda_block label=182>
</venda_block label=181>
</venda_block label=183>
</venda_block label=815>

</venda_detblock_term>

<venda_detail_term>

<!-- cmSearchTag -->
<venda_tpcomment>If pdxts are required, this template has to customize. ACE use pcatid or keyword for TRACKING TAG</venda_tpcomment>
