<venda_block label=24,mode=value,<venda_tpxt mode=get,name=instore>!=1>
<venda_tpcomment><!-- Use this format "Items: 1" for items if set 'true'
Use this format "1 Item" for items if set 'false'--></venda_tpcomment>
<div id="tag-itemBD" style="display:none;"><venda_text id=site.basketdetail.item></div>
<div id="tag-itemsBD" style="display:none;"><venda_text id=site.basketdetail.items></div>

<div class="minicart">
  <div class="minicartContainerHighlight"></div>
  <a href="#shoppingbag-detail" class="minicartHeader showminicart toggle-content" data-track="open-minicart">BASKET <span class="items"><venda_cartitemtotal></span> <span class="updatebdItemsText"><venda_block label=19,cartitemtotal=1><venda_text id=site.basketdetail.item></venda_block label=19><venda_block label=20,cartitemtotal!=1><venda_text id=site.basketdetail.items></venda_block label=20></span></a>
</div>

</venda_block label=24>
