<venda_tpcomment><!-- This template needs some additional work based on the changes for CondeNast, adding now so its not lost --></venda_tpcomment>
<h1><venda_text id=site.downloadasset.files_available_for_download></h1>
<venda_block label=111,error=null>
<venda_detblock_item>
<venda_filename>
<p><a href="<venda_codehttps>?ex=co_wizr-downloadasset&oirfnbr=<venda_oirfnbr>&filename=<venda_filename>&step=downloadasset&curstep=downloadasset&mode=process"><venda_text id=site.downloadasset.download_now></a></p>
</venda_detblock_item>

<venda_detail_item>

</venda_block label=111>
<venda_block label=112,error=notnull><h2 class="error"><venda_error></h2></venda_block label=112>
<!--
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
-->