<venda_detblock_minify_js>

<!-- required -->
<script type="text/javascript" src="<venda_supportdir>/js/Venda.js"></script>
<script type="text/javascript" src="<venda_supportdir>/js/Venda/Platform.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cookiejar.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Ebiz.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MinicartDetail.js"></script>

<!-- product detail -->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cloud-zoom.1.0.2.min.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Attributes/attribute.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/CreateTab.js"></script>

<!-- search -->
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/jquery.history.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/jquery.viewport.mini.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/jsuri-1.1.1.min.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Search.js'></script>

<!-- search, productlist, catergorylist --> 
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/EqualHeight.js"></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/ViewStyle.js'></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Compare.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/QuickBuy.js"></script>

<!-- sitewide and not always required -->
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/jqSlider.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RecentlyViewedItems.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RecentSearchItems.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/highlight.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MegaMenu.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Touch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/countrySelect.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RegionLangSwitch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/swfobject.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/10cmsInteract.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/VBM.js"></script>

</venda_detblock_minify_js>

<venda_detail_minify_js>
<script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="<venda_supportdir>/js/pngfix.js"></script>
<![endif]-->

<venda_tpcomment>
<!-- Disable by default
< script type="text/javascript" src="<venda_supportdir>/js/Venda/Widget/CurrencyConverter.js"></script >
< script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/VendaIM.js"></script >
--></venda_tpcomment>
