<table border="0" cellspacing="0" cellpadding="0" summary="Details for your <venda_ebizname> order" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:11px; text-align:left; color:#666;" width="726">
<!-- start contact/billing details -->
<thead>
<tr>
	<th colspan="2" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; text-transform:lowercase; padding-left:12px; padding-bottom:15px; text-align:left;"><venda_text id=site.email.body.contact_details></th>
</tr>
</thead>
<tbody>
<tr>
	<th width="120" style="font-weight:bold; text-align:right; padding-bottom:6px;"><venda_text id=site.email.body.cardholder></th>
	<td width="596" style="padding-left:10px; padding-bottom:6px;"><span class="addrName"><venda_block label=181,ohtitle=notnull><venda_block label=101,mode=value,<venda_sessionlanguage>=en><venda_ohtitle> </venda_block label=101><venda_block label=102,mode=value,<venda_sessionlanguage>=de><venda_block label=1021,ohtitle=Mr><venda_text id=site.please.select.mr> </venda_block label=1021><venda_block label=1021,ohtitle=Mrs,ohtitle=Miss,ohtitle=Ms,operator=or><venda_text id=site.please.select.mrs> </venda_block label=1021></venda_block label=102></venda_block label=181> <venda_ohfname> <venda_block label=76,ohmname=notnull><venda_ohmname> </venda_block label=76><venda_ohlname></span></td>
</tr>
<tr>
	<th width="120" valign="top" style="font-weight:bold; text-align:right; padding-bottom:6px; vertical-align:top;"><venda_text id=site.email.body.address></th>
	<td width="596" style="padding-left:10px; padding-bottom:6px;">
	<venda_block label=73,ohcompany=notnull><venda_ohcompany><br></venda_block label=73>
	<venda_ohnum> <venda_ohaddr1><br>
	<venda_block label=74,ohaddr2=notnull><venda_ohaddr2><br></venda_block label=74>

	<!-- if country is US or US entities display this formatting -->
	<venda_block label=999,mode=value,<venda_ohcntry>=United States,<venda_ohcntry>=United States Non-48,<venda_ohcntry>=United States Armed Forces,operator=or>
	<venda_ohcity>, <venda_block label=75,ohstate=notnull><venda_ohstate></venda_block label=75> <venda_ohzipc><br>
	</venda_block label=999>

	<!-- if country is NOT US or US entities display this formatting -->
	<venda_block label=9991,mode=value,<venda_ohcntry>!=United States,<venda_ohcntry>!=United States Non-48,<venda_ohcntry>!=United States Armed Forces,operator=and>
	<venda_ohcity><br>
	<venda_block label=751,ohstate=notnull><venda_ohstate></venda_block label=751> <venda_ohzipc><venda_block label=1234,ohstate=notnull,ohzipc=notnull,operator=or><br></venda_block label=1234>
	</venda_block label=9991>

	<venda_block label=1000,ohcntry=Austria><venda_text id=site.country.please.select.option.austria></venda_block label=1000>
	<venda_block label=2000,ohcntry=Belgium><venda_text id=site.country.please.select.option.belgium></venda_block label=2000>
	<venda_block label=3000,ohcntry=Bulgaria><venda_text id=site.country.please.select.option.bulgaria></venda_block label=3000>
	<venda_block label=4000,ohcntry=Channel Islands><venda_text id=site.country.please.select.option.islands></venda_block label=4000>
	<venda_block label=5000,ohcntry=Cyprus><venda_text id=site.country.please.select.option.cyprus></venda_block label=5000>
	<venda_block label=6000,ohcntry=Czech Republic><venda_text id=site.country.please.select.option.czech></venda_block label=6000>
	<venda_block label=7000,ohcntry=Denmark><venda_text id=site.country.please.select.option.denmark></venda_block label=7000>
	<venda_block label=8000,ohcntry=Estonia><venda_text id=site.country.please.select.option.estonia></venda_block label=8000>
	<venda_block label=9000,ohcntry=Finland><venda_text id=site.country.please.select.option.finland></venda_block label=9000>
	<venda_block label=10000,ohcntry=France><venda_text id=site.country.please.select.option.france></venda_block label=10000>
	<venda_block label=11000,ohcntry=Germany><venda_text id=site.country.please.select.option.germany></venda_block label=11000>
	<venda_block label=12000,ohcntry=Greece><venda_text id=site.country.please.select.option.greece></venda_block label=12000>
	<venda_block label=13000,ohcntry=Hungary><venda_text id=site.country.please.select.option.hungary></venda_block label=13000>
	<venda_block label=14000,ohcntry=Ireland><venda_text id=site.country.please.select.option.ireland></venda_block label=14000>
	<venda_block label=15000,ohcntry=Italy><venda_text id=site.country.please.select.option.italy></venda_block label=15000>
	<venda_block label=16000,ohcntry=Latvia><venda_text id=site.country.please.select.option.latvia></venda_block label=16000>
	<venda_block label=17000,ohcntry=Lithuania><venda_text id=site.country.please.select.option.lithuania></venda_block label=17000>
	<venda_block label=18000,ohcntry=Luxembourg><venda_text id=site.country.please.select.option.luxembourg></venda_block label=18000>
	<venda_block label=19000,ohcntry=Malta><venda_text id=site.country.please.select.option.malta></venda_block label=19000>
	<venda_block label=20000,ohcntry=Netherlands><venda_text id=site.country.please.select.option.netherlands></venda_block label=20000>
	<venda_block label=21000,ohcntry=Norway><venda_text id=site.country.please.select.option.norway></venda_block label=21000>
	<venda_block label=22000,ohcntry=Poland><venda_text id=site.country.please.select.option.poland></venda_block label=22000>
	<venda_block label=23000,ohcntry=Portugal><venda_text id=site.country.please.select.option.portugal></venda_block label=23000>
	<venda_block label=24000,ohcntry=Romania><venda_text id=site.country.please.select.option.romania></venda_block label=24000>
	<venda_block label=25000,ohcntry=Slovak Republic><venda_text id=site.country.please.select.option.slovak></venda_block label=25000>
	<venda_block label=26000,ohcntry=Slovenia><venda_text id=site.country.please.select.option.slovenia></venda_block label=26000>
	<venda_block label=27000,ohcntry=Spain><venda_text id=site.country.please.select.option.spain></venda_block label=27000>
	<venda_block label=28000,ohcntry=Sweden><venda_text id=site.country.please.select.option.sweden></venda_block label=28000>
	<venda_block label=29000,ohcntry=Switzerland><venda_text id=site.country.please.select.option.switzerland></venda_block label=29000>
	<venda_block label=30000,ohcntry=United Kingdom><venda_text id=site.country.please.select.option.uk></venda_block label=30000>
	</td>
</tr>
<tr>
	<th width="120" style="font-weight:bold; text-align:right; padding-bottom:6px;"><venda_text id=site.email.body.phone_number></th>
	<td width="596" style="padding-left:10px; padding-bottom:6px;"><span class="addrPhone"><venda_oharea> <venda_ohphone></span></td>
</tr>
<venda_block label=155,ohfax=notnull>
<tr>
	<th width="120" style="font-weight:bold; text-align:right; padding-bottom:6px;"><venda_text id=site.email.body.fax_number></th>
	<td width="596" style="padding-left:10px; padding-bottom:6px;"><span class="addrFax"><venda_ohfarea> <venda_ohfax></span></td>
</tr>
</venda_block label=155>
<tr>
	<td colspan="2" align="left" valign="top" style="padding-top:22px; padding-bottom:5px;"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/email-linebr.jpg" alt="" border="0"></td>
</tr>
</tbody>
<!-- end contact/billing details -->
</table>


<!-- start delivery/items loop -->
<venda_detail1>
<!-- end delivery/items loop -->

<table border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:11px; text-align:left; color:#666; background-color:#e6e6e6;" width="719">
<!-- start totals -->
<thead>
<tr>
	<th colspan="3" valign="top" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; text-transform:lowercase; background-color:#fff; padding-bottom:5px; padding-left:6px; text-align:left;"><venda_text id=site.email.body.order_summary></th>
</tr>
</thead>
<tbody>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-top:12px; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.items></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-top:12px; padding-bottom:3px;"><venda_ohcursym><venda_ohsub></td>
	<td width="295">&nbsp;</td>
</tr>
<venda_block label=64,ohdisc!=0.00,ohdisc=notnull>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px; padding-top:10px;"><venda_text id=site.email.body.discount></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px; padding-top:10px;">-<venda_ohcursym><venda_ohdisc></td>
	<td width="295" style="padding-top:10px;">&nbsp;</td>
</tr>
</venda_block label=64>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.postage_packaging></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_ohship></td>
	<td width="295">&nbsp;</td>
</tr>
<venda_block label=91,ohtax!=0.00,ohtax=notnull>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.estimated_tax></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_ohtax></td>
	<td width="295">&nbsp;</td>
</tr>
</venda_block label=91>
<venda_block label=670,ohgwtot&gt;0>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.gift_wrapping></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_ohgwtot></td>
	<td width="295">&nbsp;</td>
</tr>
</venda_block label=670>
<tr>
	<th width="246" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; text-transform:uppercase; text-align:left; padding-left:18px; padding-bottom:5px; padding-top:7px;"><venda_text id=site.email.body.order_total> <venda_block label=92,ohtaxinc!=0.00,ohtaxinc=notnull> <span style="text-transform:none;">(<venda_text id=site.email.body.including> <venda_ohcursym><venda_ohtaxinc> <venda_text id=site.email.body.vat>)</span></venda_block label=92></th>
	<td width="155" style="font-size:12px; font-weight:bold; text-align:right; padding-bottom:5px; padding-top:7px;"><venda_ohcursym><venda_ohtot></td>
	<td width="295">&nbsp;</td>
</tr>
<venda_block label=70,storecreditused&gt;0.00,storecreditused=notnull,creditaccount=notnull>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.store_credit></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_creditaccount></td>
	<td width="295">&nbsp;</td>
</tr>
<venda_block label=181,balance=notnull,balance&gt;0.00>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.balance_paid></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_balance></td>
	<td width="295">&nbsp;</td>
</tr>
</venda_block label=181>
<venda_block label=65,storecredit&gt;0.00,storecredit=notnull>
<tr>
	<th width="246" style="font-weight:normal; text-align:left; padding-left:18px; padding-bottom:3px;"><venda_text id=site.email.body.store_credit_remaining></th>
	<td width="155" style="font-weight:bold; text-align:right; padding-bottom:3px;"><venda_ohcursym><venda_storecredit></td>
	<td width="295">&nbsp;</td>
</tr>
</venda_block label=65>
</venda_block label=70>
</tbody>
<!-- end totals -->
<venda_block label=62,coupons=notnull>
<thead>
<tr>
	<th colspan="3" style="font-family:'Courier New', Arial, Helvetica, Verdana, sans-serif; font-size:11px; font-weight:bold; text-transform:lowercase; padding-left:18px; padding-bottom:3px; text-align:left;"><venda_text id=site.email.body.promotions_included></th>
</tr>
</thead>
<tbody>
<venda_detail3>
</tbody>
</venda_block label=62>
</table>
<table border="0" cellspacing="0" cellpadding="0">
<tr>
	<td align="left" style="padding-top:15px; padding-bottom:15px;"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/email-linebr.jpg" alt="" border="0"></td>
</tr>
</table>
