<!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. -->
<div id="storelocatorresults">
	<venda_inctemplate type=includes/wizr/wz_orzc-postcodedistance,name=heading_intro>
	<venda_inctemplate type=includes/wizr/wz_orzc-postcodedistance,name=stores_found>
	<venda_inctemplate type=includes/wizr/wz_orzc-postcodedistance,name=postcode_not_found>
	<venda_inctemplate type=includes/wizr/wz_orzc-postcodedistance,name=storefinder_form>
</div>

<!--
page: wz_orzc-postcodedistance.html
param1: <venda_param1>
param2: <venda_param2>
workflow: <venda_workflow> -->
<venda_tpxt mode=set,name=track,value=orzc-postcodedistance> 

