<venda_detblock1>
<cr>
<venda_block label=40,pkshipreq=1>
==============================================================================<cr>
<venda_text id=site.email.detblock.delivery_details><cr>
==============================================================================<cr><cr>

<venda_text id=site.email.detblock.recipient><cr>
<venda_block label=181,pktitle=notnull><venda_block label=101,mode=value,<venda_sessionlanguage>=en><venda_pktitle> </venda_block label=101><venda_block label=102,mode=value,<venda_sessionlanguage>=de><venda_block label=1021,pktitle=Mr><venda_text id=site.please.select.mr> </venda_block label=1021><venda_block label=1021,pktitle=Mrs,pktitle=Miss,pktitle=Ms,operator=or><venda_text id=site.please.select.mrs> </venda_block label=1021></venda_block label=102></venda_block label=181> <venda_pkfname> <venda_block label=75,pkmname=notnull><venda_pkmname> </venda_block label=75><venda_pklname><cr><cr>

<venda_text id=site.email.detblock.delivery_address><cr>
<venda_block label=77,pkcompany=notnull><venda_pkcompany><cr></venda_block label=77>
<venda_pknum> <venda_pkaddr1><cr>
<venda_block label=72,pkaddr2=notnull><venda_pkaddr2><cr></venda_block label=72>

<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
<venda_block label=184,pkcity=notnull><venda_pkcity>, </venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><cr>
</venda_block label=999>

<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
<venda_block label=184,pkcity=notnull><venda_pkcity><cr></venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><cr></venda_block label=1234>
</venda_block label=9991>

	<venda_block label=1000,pkcntry=Austria><venda_text id=site.country.please.select.option.austria></venda_block label=1000>
	<venda_block label=2000,pkcntry=Belgium><venda_text id=site.country.please.select.option.belgium></venda_block label=2000>
	<venda_block label=3000,pkcntry=Bulgaria><venda_text id=site.country.please.select.option.bulgaria></venda_block label=3000>
	<venda_block label=4000,pkcntry=Channel Islands><venda_text id=site.country.please.select.option.islands></venda_block label=4000>
	<venda_block label=5000,pkcntry=Cyprus><venda_text id=site.country.please.select.option.cyprus></venda_block label=5000>
	<venda_block label=6000,pkcntry=Czech Republic><venda_text id=site.country.please.select.option.czech></venda_block label=6000>
	<venda_block label=7000,pkcntry=Denmark><venda_text id=site.country.please.select.option.denmark></venda_block label=7000>
	<venda_block label=8000,pkcntry=Estonia><venda_text id=site.country.please.select.option.estonia></venda_block label=8000>
	<venda_block label=9000,pkcntry=Finland><venda_text id=site.country.please.select.option.finland></venda_block label=9000>
	<venda_block label=10000,pkcntry=France><venda_text id=site.country.please.select.option.france></venda_block label=10000>
	<venda_block label=11000,pkcntry=Germany><venda_text id=site.country.please.select.option.germany></venda_block label=11000>
	<venda_block label=12000,pkcntry=Greece><venda_text id=site.country.please.select.option.greece></venda_block label=12000>
	<venda_block label=13000,pkcntry=Hungary><venda_text id=site.country.please.select.option.hungary></venda_block label=13000>
	<venda_block label=14000,pkcntry=Ireland><venda_text id=site.country.please.select.option.ireland></venda_block label=14000>
	<venda_block label=15000,pkcntry=Italy><venda_text id=site.country.please.select.option.italy></venda_block label=15000>
	<venda_block label=16000,pkcntry=Latvia><venda_text id=site.country.please.select.option.latvia></venda_block label=16000>
	<venda_block label=17000,pkcntry=Lithuania><venda_text id=site.country.please.select.option.lithuania></venda_block label=17000>
	<venda_block label=18000,pkcntry=Luxembourg><venda_text id=site.country.please.select.option.luxembourg></venda_block label=18000>
	<venda_block label=19000,pkcntry=Malta><venda_text id=site.country.please.select.option.malta></venda_block label=19000>
	<venda_block label=20000,pkcntry=Netherlands><venda_text id=site.country.please.select.option.netherlands></venda_block label=20000>
	<venda_block label=21000,pkcntry=Norway><venda_text id=site.country.please.select.option.norway></venda_block label=21000>
	<venda_block label=22000,pkcntry=Poland><venda_text id=site.country.please.select.option.poland></venda_block label=22000>
	<venda_block label=23000,pkcntry=Portugal><venda_text id=site.country.please.select.option.portugal></venda_block label=23000>
	<venda_block label=24000,pkcntry=Romania><venda_text id=site.country.please.select.option.romania></venda_block label=24000>
	<venda_block label=25000,pkcntry=Slovak Republic><venda_text id=site.country.please.select.option.slovak></venda_block label=25000>
	<venda_block label=26000,pkcntry=Slovenia><venda_text id=site.country.please.select.option.slovenia></venda_block label=26000>
	<venda_block label=27000,pkcntry=Spain><venda_text id=site.country.please.select.option.spain></venda_block label=27000>
	<venda_block label=28000,pkcntry=Sweden><venda_text id=site.country.please.select.option.sweden></venda_block label=28000>
	<venda_block label=29000,pkcntry=Switzerland><venda_text id=site.country.please.select.option.switzerland></venda_block label=29000>
	<venda_block label=30000,pkcntry=United Kingdom><venda_text id=site.country.please.select.option.uk></venda_block label=30000><cr>
	
<venda_block label=76,pkarea=notnull><venda_pkarea> <venda_pkphone><cr></venda_block label=76>

<venda_block label=41,pkshipmthd=notnull>
<venda_text id=site.email.body.phone_number><cr>
<venda_text id=site.email.detblock.delivery_method> <venda_pkshipmthd><cr>
</venda_block label=41>
<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=1,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=2,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=3,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=4,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=5,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=6,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=7,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=8,displayonly=1>
<cr>
</venda_block label=40>
==============================================================================<cr>
<venda_text id=site.email.detblock.text.items><cr>
==============================================================================<cr><cr>
<venda_detail2>
</venda_detblock1>

<venda_detblock2>
<venda_oiivname> 
<venda_block label=111,invtatt1=notnull> (<venda_invtatt1><venda_block label=112,invtatt2=notnull>, <venda_invtatt2></venda_block label=112>)</venda_block label=111>
<venda_block label=221,oigwref=notnull> <venda_text id=site.order_details.items_gift_wrapped></venda_block label=221>
<venda_extflds exfldtype=orderitem,group=1,template=textEmailOixfieldsDisplay,type=includes,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=textEmailOixfieldsDisplay,type=includes,ref=<venda_invtref>,displayonly=1>
 (<venda_oisub> <venda_ohcur>) x <venda_oiqty> = <venda_oiextsub> <venda_ohcur>
	(<venda_block label=10,oistatus=2><venda_text id=site.order_status.in_progress></venda_block label=10><venda_block label=11,oistatus=3><venda_text id=site.order_status.released_for_delivery></venda_block label=11><venda_block label=12,oistatus=4><venda_text id=site.order_status.backordered></venda_block label=12><venda_block label=13,oistatus=5><venda_block label=114,num=notnull><venda_text id=site.email.detblock.tracking> <venda_num> <venda_oicarrier> </venda_block label=114><venda_text id=site.order_status.delivered> <venda_stmp></venda_block label=13><venda_block label=14,oistatus=6><venda_text id=site.order_status.returned> <venda_stmp></venda_block label=14><venda_block label=15,oistatus=7><venda_text id=site.order_status.cancelled></venda_block label=15><venda_block label=16,oistatus=8><venda_text id=site.email.detblock.rma> <venda_num> <venda_text id=site.order_status.delivered> <venda_stmp></venda_block label=16>)
<cr>

<venda_block label=221,oigwref=notnull><venda_text id=site.order_details.items_gift_wrapped><venda_block label=2274,oicmtmsg=notnull><venda_oicmtmsg><cr></venda_block label=2274></venda_block label=221>
<venda_block label=222,oigwref=null>&nbsp; <cr></venda_block label=222>

<venda_block label=1310,mode=value,<venda_num>=notnull,<venda_oicarrier0>=null>
	<venda_text id=site.order_status.label.trackingnumber><venda_num><cr>
</venda_block label=1310>
<venda_block label=1311,mode=value,<venda_num>=notnull,<venda_oicarrier0>=RoyalMailTracked>
	<venda_text id=site.order_status.label.trackingnumber><venda_num><cr>
</venda_block label=1311>
<venda_block label=1312,mode=value,<venda_num>=notnull,<venda_oicarrier0>=DPD>
	<venda_text id=site.order_status.label.trackingnumber><venda_num><cr>
</venda_block label=1312>
<venda_block label=1313,mode=value,<venda_num>=null>
	&nbsp; <cr>
</venda_block label=1313>
		
</venda_detblock2>


<venda_detblock3>
<venda_ckname> (-<venda_cktotal> <venda_ohcur>)<cr>
</venda_detblock3>