<html lang="<venda_block mode=value,<venda_sessionlanguage>=ae>en-US</venda_block><venda_block mode=value,<venda_sessionlanguage>!=ae><venda_sessionlanguage></venda_block>">
<head>
<venda_menu template=title>
<venda_menu template=css>
<script type="text/javascript" src="<venda_supportdir>/js/sitewide.js"></script>
<script type="text/javascript" src="<venda_supportdir>/js/external/swfobject.js"></script>
<venda_inctemplate name=hitboxOthers,type=includes/tracking>
</head>
<body id="mainlayout-flashpopup">
<venda_inctemplate name=coremetricsFunctions,type=includes/tracking/coremetrics>
<venda_content>
<p><a href="#" onClick="window.close(); return false;"><venda_text id=site.link.close_window></a></p>
<venda_inctemplate name=SiteWideTracking,type=includes>
 </body>
</html>
