<venda_detblock>
		<li>	
      		<venda_story story=<venda_stryref1>,template=pressarticle>    		
		</li>
</venda_detblock>

  <link rel="stylesheet" href="/content/ebiz/anthropologie/resources/css/press.css?v=8" type="text/css">
  <script src="/content/ebiz/anthropologie/resources/js/jquery.press.js?v=3"></script>

	<div class="pressWrapper">
    <h1><venda_scatname></h1>
    <div class="pressLoop">
      <div class="wrapper">
        <ul>
					<venda_detail>
        </ul>        
      </div>
    </div>
    <p class="pagePos"><span id="pageNo">1</span>/<span id="pageTot">1</span></p>
	</div>

