<div class="minicartDetail" id="minicartDetail">
  <div class="container_24">
  
    <div class="grid_24">
  	   <venda_block errors=notnull><h2 class="error"><venda_errors></h2></venda_block>
  	</div>
  	
  	<div class="grid_18">
  	   <venda_block label=52,mode=value,<venda_shopcart mode=getqty>!=0><venda_order shopcart=1,template=minicartDetail></venda_block label=52>
  	</div>
  	
  	<div class="grid_6">
    	 <venda_minicart template=minicartItemsTotal>
  	</div>
  	
    <venda_block label=53,mode=value,<venda_shopcart mode=getqty>=0><div class="grid_24"><span class="minicart_empty"><venda_text id=site.empty_basket.basket_is_empty></span></div></venda_block label=53>
  
	</div>
</div>