<venda_block label=24,mode=value,<venda_tpxt mode=get,name=instore>!=1>
<ul<venda_block label=50,cartitemtotal!=0> class="items_added"</venda_block label=50><venda_block label=51,cartitemtotal=0> class="items_empty"</venda_block label=51>>
	<li class="items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="minicart_items"><venda_tpxt mode=get,name=preitems><span id="updateItems"><venda_cartitemtotal> <venda_text id=site.basketdetail.items><venda_block label=20,cartitemtotal!=1>s</venda_block label=20></span><venda_tpxt mode=get,name=postunits></a></li>
	<li class="total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&bsref=<venda_bsref>&log=22" id="minicart_total"><venda_tpxt mode=get,name=total1><span id="updateTotal"><venda_total></span></a></li>
</ul>
</venda_block label=24>