<venda_tpcomment><!-- tags read by CurrencyConverter.js --></venda_tpcomment>
<div id="tag-xml" style="display:none;">/content/ebiz/<venda_bsref>/resources/euro_rates.xml</div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>
<div id="tag-prefixChar" style="display:none;"></div>
<div id="tag-suffixChar" style="display:none;"></div>
<div id="tag-hidedefault" style="display:none;"></div>
<div id="tag-show" style="display:none;">3000</div>
<div id="tag-fade" style="display:none;">1000</div>
<div id="tag-priceselectors" style="display:none;">.convertprice,selectedprice</div>
<ul class="currencyConverter">
<li class="gbplink"><a href="<venda_dispview page=currencyinformation>"<venda_block label=10,mode=value,<venda_currsym>=£> class="resetcurrency"</venda_block label=10><venda_block label=11,mode=value,<venda_currsym>!=£> class="loadcurrency" rel="GBP"</venda_block label=11>>£</a></li>
<li class="gbpimage"><a href="<venda_dispview page=currencyinformation>"<venda_block label=20,mode=value,<venda_currsym>=£> class="resetcurrency"</venda_block label=20><venda_block label=21,mode=value,<venda_currsym>!=£> class="loadcurrency" rel="GBP"</venda_block label=21>><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/en.png"></a></li>
<li class="usdlink"><a href="<venda_dispview page=currencyinformation>"<venda_block label=12,mode=value,<venda_currsym>=$> class="resetcurrency"</venda_block label=12><venda_block label=13,mode=value,<venda_currsym>!=$> class="loadcurrency" rel="USD"</venda_block label=13>>$</a></li>
<li class="usdimage"><a href="<venda_dispview page=currencyinformation>"<venda_block label=30,mode=value,<venda_currsym>=$> class="resetcurrency"</venda_block label=30><venda_block label=31,mode=value,<venda_currsym>!=$> class="loadcurrency" rel="USD"</venda_block label=31>><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/us.png"></a></li>
<li class="eurlink"><a href="<venda_dispview page=currencyinformation>"<venda_block label=14,mode=value,<venda_currsym>=?> class="resetcurrency"</venda_block label=14><venda_block label=15,mode=value,<venda_currsym>!=?> class="loadcurrency" rel="EUR"</venda_block label=15>>€</a></li>
<li class="eurimage"><a href="<venda_dispview page=currencyinformation>"<venda_block label=40,mode=value,<venda_currsym>=?> class="resetcurrency"</venda_block label=40><venda_block label=41,mode=value,<venda_currsym>!=€> class="loadcurrency" rel="EUR"</venda_block label=41>><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/eu.png"></a></li>
</ul>
