<!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. -->
<venda_category rec=elementcat,ref=basketemptytopcontent>
<div class="checkoutR">
	<venda_category rec=elementcat,ref=basketcolumn>
</div>
<div class="container containerorscempty checkoutL">
<venda_inctemplate type=includes/wizr/wz_orsc-shopcartempty,name=heading_intro>
<venda_inctemplate type=includes/wizr/wz_orsc-shopcartempty,name=js_buttons>
</div>
<venda_inctemplate name=hbxlocalvars6,type=includes/tracking>
<venda_inctemplate name=trackingBasket,type=includes>
 <venda_tpxt mode=set,name=orsc,value=1>
<!-- 
workflow: <venda_workflow>
param1: <venda_param1>
param2: <venda_param2>
page: wz_orsc-shopcartempty.html
 -->
