<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull><p><venda_addedmsg msg=<venda_text id=site.addedmsg>></p><venda_inctemplate name=trackingProdAdd,type=includes></venda_block label=32>
<venda_block errors=notnull><h2 class="error"><venda_errors></h2></venda_block>
<venda_tpcomment><!-- tag values used for minicart update without reload --></venda_tpcomment>
<div id="tag-addedmsgref" style="display:none;"><venda_addedmsg msg=addedref></div>
<div id="tag-itemspage" style="display:none;"><venda_dispview page=ajax_items></div>
<div id="tag-totalpage" style="display:none;"><venda_dispview page=ajax_total></div>
<div id="tag-bsref" style="display:none;"><venda_bsref></div>