<venda_block errors=notnull><h2 class="error"><venda_errors></h2></venda_block>
<venda_tpcomment><!-- tag values used for minicart update without reload --></venda_tpcomment>
<div id="tag-addedmsgref" style="display:none;"><venda_addedmsg msg=addedref></div>
<div id="tag-bsref" style="display:none;"><venda_bsref></div>
<venda_block label=21,mode=value,<venda_setting type=ebiz,name=tracktagvbm>=1>
<div id="tag-vbmref" style="display:none;"><venda_addedmsg msg=addedref></div>
<div id="tag-vbmhtxt" style="display:none;"><venda_htxt mode=get,name=vbm></div>
<div id="tag-vbmsrchhtxt" style="display:none;"><venda_htxt mode=get,name=searchadd></div>
</venda_block label=21>

<div id="tag-addedmsg" style="display:none;"><venda_block label=32,mode=value,<venda_addedmsg msg=addedref>=notnull><venda_addedmsg msg=addedref></venda_block label=32></div>
<div id="tag-codehttp" style="display:none;"><venda_codehttp></div>
<div id="tag-addtobaskettext" style="display:none;"><venda_text id=site.productdetail.adding_item_to_basket></div>
<div id="tag-headertext" style="display:none;"><span><venda_text id=site.minicart.header.text></span></div>

<div class="sub-header full-width">
  <div class="container_24 clearfix">
    <div class="grid_22">
      <ul class="top-options">
        <li><venda_inctemplate name=solrSearch,type=includes></li>
        <li class="divider-vertical"></li>
      	<venda_block label=20,ustype=R>
      	<venda_block label=245,usgrref!=instore>
      	<li><venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_dispview page=myaccount>"></venda_block label=300><venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-login&bsref=<venda_bsref>"></venda_block label=301><venda_userinfo><venda_sesfname></venda_userinfo>'S ACCOUNT</a></li>
      	</venda_block label=245>
      	<li class="divider-vertical"></li>
      	<li><a href="<venda_dispview page=home>&log=4">SIGN OUT</a></li>
      	</venda_block label=20>
      	<venda_block label=21,ustype!=R>
      	<li><a href="#signin-detail">SIGN IN</a></li>
      	</venda_block label=21>
        <li class="divider-vertical"></li>
        <li><venda_minicart template=itemsTotal><div id="minicartDetailWrapper"></div></li>
      </ul>       
    </div>
    <div class="grid_2">
      <venda_inctemplate name=regionLanguageSwitch,type=widgets>
    </div>
  </div>
</div>