<venda_detblock>
<li class="nav<venda_icatref1>">
<venda_block label=34,navtype1=category_browsing,navtype1=dynamic,operator=or><a href="<venda_dispview icat=<venda_icatref1>>"><span><venda_icatname1></span></a></venda_block label=34>
<venda_block label=35,navtype1=guided_nav><a href="<venda_codehttp>?ex=co_wizr-locayta&template=wz_locayta&pageno=1&itemsperpage=5&collate=brand%3Aivtype&fieldinvt=type&termtextinvt=invt&typeinvt=exact&fieldpcatid=pcatid&termtextpcatid=<venda_icatref1>&typepcatid=exact" onclick='document.guidedleft.termtextpcatid.value ="<venda_icatref1>"; document.guidedleft.submit(); return false;'><span><venda_icatname1></span></a></venda_block label=35>
<venda_block label=37,navtype1=no_link><span><venda_icatname1></span></venda_block label=37>
<venda_category rec=icat,ref=<venda_icatref1>,temp=subsubsubcategories,cacheall=1,itemsperpage=100>
</li></venda_detblock>

<venda_block label=198,icxtnavstyle=notnull,icxtnavastyle=notnull,operator=or>
<style type="text/css">
<venda_block label=97,icxtnavstyle=notnull>
.Lcatnav li.nav<venda_cattree index=3,value=catref> {
	<venda_icxtnavstyle>
}
</venda_block label=97>
<venda_block label=96,icxtnavastyle=notnull>
.Lcatnav li.nav<venda_cattree index=3,value=catref> a {
	<venda_icxtnavastyle>
}
</venda_block label=96>
</style>
</venda_block label=198>

<ul><venda_detail></ul>